:root {
  --text: #BBCDE5;
  --bg: #1F0322;
  --link: #60D394;
  --accent: #E3B23C;
  --border: #EC368D;

}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr min(47rem, 90%) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: .625rem;
}

body > * {
  grid-column: 2;
}

#nav-bar {
  padding: 0.625rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: flex-end;
  align-items: center;
}

mark {
  padding: 0 .25em 0 .25em;
  border-radius: var(--standard-border-radius);
  background-color: var(--accent);
  color: var(--bg);
}

a {
  color: var(--link);
}

a:hover {
  background-color: var(--link);
  color: var(--bg);
}

hr {
  border-style: dotted;
  border-color: var(--border);
}

img {
  border: dashed 2px var(--border);
}

.img-header {
  white-space: nowrap;
}

.img-header > img {
  display: inline;
  vertical-align: middle;
}

.img-header > h1 {
  display: inline;
  white-space: nowrap;
}
